# Skopiuj ten plik jako .env i uzupełnij wartości
MONGO_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/goatcasino
JWT_SECRET=wygeneruj_dlugi_losowy_string_tutaj
PORT=3001
FRONTEND_URL=http://localhost:5174
